<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<style>
    #costTitle{
        text-align: center;
    }
</style>
<body>
  <div id="app">
        <p id="costTitle">测试demo</p>
        <el-form ref="form" :model="form" :rules="rules" label-width="120px" >        
            <el-form-item label="到站地点" prop="city">
                <el-select 
                v-model="form.city" 
                filterable 
                value-key="id"
                placeholder="请选择到站地点"  
                @change="changeCity"
                >
                    <el-option 
                    v-for="item in cityList" 
                    :label="item.name"  
                    :key="item.id" 
                    :value="item">
                    </el-option>
                </el-select>
            </el-form-item>  
            <el-form-item label="提货方式" prop="pickType">
                <el-select 
                v-model="form.pickType" 
                filterable 
                placeholder="请选择提货方式"
                value-key="id"
                >
                <el-option 
                :label="item.pickType"  
                v-for="item in pickTypeList" 
                :key="item.pickType" 
                :value="item"></el-option>
                </el-select>
            </el-form-item>  
            <el-form-item label="干线运输方式" prop="transType">
                <el-select 
                v-model="form.transType"   
                filterable 
                value-key="id"
                placeholder="请选择干线运输方式">
                    <el-option 
                        :label="item.transType"
                        v-for="item in transTypeList" 
                        :key="item.transType" 
                        :value="item">
                    </el-option>
                </el-select>
            </el-form-item> 
            <el-form-item label="运输货品重量" v-if="form.transType==='元/公斤'" prop="goodsWeight">
                <el-select v-model="form.goodsWeight" filterable placeholder="请选择运输货品数量">
                    <el-option 
                        :label="item.goodsWeight"  
                        v-for="item in goodsWeightList"
                        :key="item.goodsWeight" 
                        :value="item.goodsWeight"
                    ></el-option>
                </el-select>
            </el-form-item> 
            <el-form-item label="运输货品体积" v-if="form.transType==='元/方'" prop="goodsWeight">
                <el-select v-model="form.goodsWeight" filterable placeholder="请选择运输货品体积">
                    <el-option 
                        :label="item.goodsWeight"  
                        v-for="item in goodsWeightList2"
                        :key="item.goodsWeight" 
                        :value="item.goodsWeight"
                    ></el-option>
                </el-select>
            </el-form-item>   
            <el-form-item label="配送方式" prop="deliveryType">
                <el-select v-model="form.deliveryType" filterable placeholder="请选择配送方式" >
                    <el-option 
                    :label="item.deliveryType" 
                    v-for="item in deliveryTypeList"
                    :key="item.deliveryType"
                    :value="item.deliveryType">
                    </el-option>
                </el-select>
            </el-form-item> 
            <el-form-item label="远郊补贴方式" prop="subsidyType">
                <el-select v-model="form.subsidyType" filterable placeholder="请选择远郊补贴方式">
                    <el-option 
                    :label="item.subsidyType" 
                    v-for="item in subsidyTypeList"
                    :key="item.subsidyType"
                    :value="item.subsidyType">
                    </el-option>
                </el-select>
            </el-form-item> 
            <el-form-item>
                <el-button type="primary" @click="onSubmit('form')">立即创建</el-button>
                <el-button>取消</el-button>
            </el-form-item>
        </el-form>
  </div>
</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  
  <script type="module">
    import { cityData } from './libs/cityList.js'
    new Vue({ 
      el: '#app',
      data: function() {
        return {
            rules:{
                city:[
                { required: true, message: '必选项', trigger: 'blur' }
                ],
                pickType:[{ required: true, message: '必选项', trigger: 'blur' }],
                transType:[{ required: true, message: '必选项', trigger: 'blur' }],
                goodsWeight:[{ required: true, message: '必选项', trigger: 'blur' }],
                deliveryType:[{ required: true, message: '必选项', trigger: 'blur' }],
                subsidyType:[{ required: true, message: '必选项', trigger: 'blur' }],
                desc:[{ required: true, message: '必选项', trigger: 'blur' }],

            },
            form: {
                city: '',
                pickType: '',
                transType:'',
                goodsWeight:'',
                deliveryType:'',
                subsidyType:''
            },
            //到站地点
            cityList:cityData.cityListJson,

            //根据寄货方式计算价格
            pickTypeList:[
                {id:0,pickType:'小于等于5件'},
                {id:1,pickType:'等于5件'},
                {id:2,pickType:'自寄'},
            ],
            //干线运输方式
            transTypeList:[
                {id:0,transType:'元/公斤'},
                {id:1,transType:'元/方'},
            ],
            //货品重量
            goodsWeightList:[
                {id:0,goodsWeight:'0≤X<100'},
                {id:1,goodsWeight:'100≤X<1000'},
                {id:2,goodsWeight:'X≥1000'},
            ],
            //货品体积
            goodsWeightList2:[
                {id:0,goodsWeight:'0-1'},
                {id:1,goodsWeight:'1-10'},
                {id:2,goodsWeight:'X>10'},
            ],
            //配送方式
            deliveryTypeList:[
                {id:0, deliveryType:'自提'},
                {id:1, deliveryType:'卖场'},
                {id:2, deliveryType:'门店'},
                {id:3, deliveryType:'终端'},
            ],
            subsidyTypeList:[
                {id:0, subsidyType:'公里数(KM)'},
                {id:1, subsidyType:'配送费(元/票)'},
            ]     
        }
      },
      created() {
          console.log(cityData)
      },
      methods: {
        changeCity(){
            console.log(this.form.city)
        //    this.form =  {
        //         pickType: '',
        //         transType:'',
        //         goodsWeight:'',
        //         deliveryType:'',
        //         subsidyType:''
        //     }
        },
        onSubmit(form) {
            this.$refs[form].validate((valid) => {
                if (valid) {
                    alert('submit!');
                } else {
                    console.log('error submit!!');
                    return false;
                }
            });
        }
      },
    })
  </script>
</html>